# This block ignores everything in wp-content, using negation patterns to
wp-content/*
!wp-content/object-cache.php
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/dara/
!wp-content/plugins/
wp-content/plugins/*

# Ignore the dependency management directories
vendor/
node_modules/

# Exclude the main WordPress directory
wp/

# Exclude the env file since this will vary on environment and not exist
# in production.
.env

# Exclude dist directories
dist
